{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends get_admin_template('base_list_field', admin.code) %}

{%- block field %}
    {% apply spaceless %}
        {% if field_description.option('collapse') is not null %}
            {% set collapse = field_description.option('collapse') %}
            <div class="sonata-readmore" data-readmore-height="{{ collapse.height|default(40) }}" data-readmore-more="{{ collapse.more|default('read_more')|trans({}, 'SonataAdminBundle') }}" data-readmore-less="{{ collapse.less|default('read_less')|trans({}, 'SonataAdminBundle') }}">
                {% set budgeted = object.budgeted %}
                {% if value > budgeted %}
                    <span style="color:red">{{ value }}</span>
                {% else %}
                    <span style="color:green">{{ value }}</span>
                {% endif %}                     
            </div>
        {% else %}
            {% set budgeted = object.budgeted %}
            {% if value > budgeted %}
                <span style="color:red">{{ value }}</span>
            {% else %}
                <span style="color:green">{{ value }}</span>
            {% endif %} 
        {% endif %}
    {% endapply %}
{% endblock -%}

