{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{# {% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %} #}
{# TODO: try to render invoiceLine & purchaseLine from one twig template #}
{# 
{%- block name -%}
    <table class="table">
        <tbody>
            <tr style="background-color:#f9f9f9">
                <th>{{ 'invoice_lines_title'|trans({}, 'SonataAdminBundle') }}</th>
            </tr>
        </tbody>
    </table>
{%- endblock -%} #}

{%- block field -%}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'description'|trans({}, 'SonataAdminBundle') }}</th>
                <th scope="col">{{ 'main_category'|trans({}, 'SonataAdminBundle') }}</th>
                <th scope="col">{{ 'sub_category'|trans({}, 'SonataAdminBundle') }}</th>
                <th scope="col">{{ 'net'|trans({}, 'SonataAdminBundle') }}</th>
                <th scope="col">{{ 'vat'|trans({}, 'SonataAdminBundle') }}</th>
                <th scope="col">{{ 'line_total'|trans({}, 'SonataAdminBundle') }}</th>
            </tr>
        </thead>
        {% set num = 1 %}
        <tbody>
            {% for invoiceLine in value %}
                    <tr>
                        <th scope="row">{{ num }}</th> 
                        <td>{{ invoiceLine.shortDescription ?? null }}</td>
                        <td>{{ invoiceLine.budgetMainCategory.name ?? null }}</td>
                        <td>{{ invoiceLine.budgetCategory.name ?? null }}</td>
                        <td>{%- include '/CRUD/display_currency.html.twig' with {
                            value: invoiceLine.netValue|number_format(2, '.', ','),
                            currency: field_description.option('currency'),
                        } only -%}</td>
                        <td>{%- include '/CRUD/display_currency.html.twig' with {
                            value: invoiceLine.vatValue|number_format(2, '.', ','),
                            currency: field_description.option('currency'),
                        } only -%}</td>
                        <td>{%- include '/CRUD/display_currency.html.twig' with {
                            value: invoiceLine.lineTotal|number_format(2, '.', ','),
                            currency: field_description.option('currency'),
                        } only -%}</td>
                    </tr>
                {% set num = num + 1 %}
            {% endfor %}
        </tbody>
    </table>
{%- endblock -%}
