{% extends get_admin_template('base_list_field', admin.code) %}

{%- block field %}
    {% apply spaceless %}
        {% if field_description.option('collapse') is not null %}
            {% set collapse = field_description.option('collapse') %}
            <div class="sonata-readmore" data-readmore-height="{{ collapse.height|default(40) }}" data-readmore-more="{{ collapse.more|default('read_more')|trans({}, 'SonataAdminBundle') }}" data-readmore-less="{{ collapse.less|default('read_less')|trans({}, 'SonataAdminBundle') }}">
                {% if value != 0 or value != 0.00 %}
                    <span style="color:red">{{ value }}</span>
                {% else %}
                    {{ value }}
                {% endif %} 
            </div>
        {% else %}
            {% if value != 0 or value != 0.00 %}
                <span style="color:red">{{ value }}</span>
            {% else %}
                {{ value }}
            {% endif %} 
        {% endif %}
    {% endapply %}
{% endblock -%}

