{% block field %}
    {% set route_name = field_description.option('route').name|default(sonata_config.getOption('default_admin_route')) %}
    {% set route_parameters = field_description.option('route').parameters|default([]) %}

    {% if value is not empty %}
        {% if value is not iterable %}
            {% if value.contentType != 'application/pdf' %}
                <div style="margin:auto; width:50%">
                    <img id="receipt_image" src="{{ asset('uploads/') ~ value.hashedFileName }}" style="width:388px; height:auto;">
                </div>
            {% else %}
                <div style="padding:10px;">
                    <embed id="receipt_pdf" src="{{ asset('uploads/') ~ value.hashedFileName }}#toolbar=0" style="width:100%; height:812px;">
                </div>
            {% endif %}
        {% else %}
            {% for element in value %}
                {% if field_description.hasassociationadmin
                    and field_description.associationadmin.hasRoute(route_name)
                    and field_description.associationadmin.hasAccess(route_name, element) %}
                    {% if element.contentType != 'application/pdf' %}
                        <div style="margin:auto; width:50%">
                            <img id="receipt_image" src="{{ asset('uploads/') ~ element.hashedFileName }}" style="width:388px; height:auto;">
                        </div>
                    {% else %}
                        <div style="padding:10px;">
                            <embed id="receipt_pdf" src="{{ asset('uploads/') ~ element.hashedFileName }}#toolbar=0" style="width:100%; height:812px;">
                        </div>
                    {% endif %}
                {% else %}
                    <li>{{ element|render_relation_element(field_description) }}</li>
                {% endif %}
                {% if not loop.last %}&nbsp;{% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        <h4 style="padding:10px;"><i>No file uploaded.</i></h4>
    {% endif %}
{% endblock %}
