{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% if value is defined and value is not empty %}
        {% for key, value in value %}
            {% if value > 0 %}
                <span style="color:green;">{{ value|format_currency(key) }}</span>
            {% elseif value < 0 %}
                <span style="color:red;">+&nbsp;{{ value|abs|format_currency(key) }}</span>
            {% else %}
                <span>{{ value|format_currency(key) }}</span>
            {% endif %}

            {{ not loop.last ? ' | ' : '' }}
        {% endfor %}
    {% else %}
        <span>{{ '-' }}</span>
    {% endif %}
{% endblock %}