{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block meta_tags %}
    {{ parent() }}

    <link href="{{ asset('custom/favicon.ico') }}" rel="shortcut icon" type="image/vnd.microsoft.icon" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('styles/custom.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('typescript/custom.ts') }}"></script>
    {# <script src="{{ asset('js/custom.js') }}"></script> #}
{% endblock %}

{% block sonata_header %}
    <header class="main-header">
        {% block sonata_header_noscript_warning %}
            {{ parent() }}
        {% endblock %}

        {% block logo %}
            {{ parent() }}
        {% endblock %}

        {% block sonata_nav %}
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle fa5" data-toggle="push-menu"
                    role="button" title="{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}">
                    <span class="sr-only">{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}</span>
                </a>

                <div class="navbar-left">
                    {% block sonata_breadcrumb %}
                        {{ parent() }}
                    {% endblock sonata_breadcrumb %}
                </div>

                {% block sonata_top_nav_menu %}
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            {% block sonata_top_nav_menu_add_block %}
                                {{ parent() }}
                            {% endblock %}

                            {% block sonata_top_nav_menu_unit_switch_block %}
                                {% set unitList = get_unit_list() %}
                                {% set switchedUnit = get_switched_unit() %}

                                <li class="dropdown">
                                    {% if switchedUnit is defined and switchedUnit is not empty %}
                                        <a type="submit" 
                                            class="btn btn-danger" 
                                            title="{{ 'exit_unit_button'|trans({}, 'SonataAdminBundle') }}" 
                                            href="{{ path('exit_unit', {'_sonata_admin': 'admin.unit'}) }}"
                                        >
                                            <span style="font-weight:700;">{{ switchedUnit.name }}</span>&nbsp;
                                            <i class="fas fa-sign-out-alt"></i>
                                        </a>
                                    {% else %}
                                        <a class="dropdown-toggle" 
                                            data-toggle="dropdown" 
                                            title="{{ 'unit_switch'|trans({}, 'SonataAdminBundle') }}" 
                                            href="#"
                                        >
                                            <i class="fas fa-building"></i> <i class="fas fa-caret-down" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for unit in unitList %}
                                                <li>
                                                    <a href="{{ path('switch_to_unit', {'id': unit.id, '_sonata_admin': 'admin.unit'}) }}" 
                                                        title="{{ unit.name }}"
                                                    >
                                                        {{ unit.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endblock %}

                            {% if app.user %}
                                {% block sonata_top_nav_menu_user_block %}
                                    {{ parent() }}
                                {% endblock %}
                            {% endif %}
                        </ul>
                    </div>
                {% endblock %}
            </nav>
        {% endblock sonata_nav %}
    </header>
{% endblock %}

{% block sonata_page_content %}
    <section class="content-header">

        {% block sonata_page_content_header %}
            {% block sonata_page_content_nav %}
                {% if _navbar_title is not empty
                    or _tab_menu is not empty
                    or _actions is not empty
                    or _list_filters_actions is not empty
                    %}
                    <nav class="navbar navbar-default" style="padding: 0 10px;" role="navigation">
                        {# <div class="container-fluid"> #}
                            {% block tab_menu_navbar_header %}
                                {% if _navbar_title is not empty %}
                                    {# <div class="navbar-header">
                                        <a class="navbar-brand" href="#">{{ _navbar_title|raw }}</a>
                                    </div> #}
                                {% endif %}
                            {% endblock %}

                            {# <div class="navbar-collapse"> #}
                                {% if _tab_menu is not empty %}
                                    <div class="navbar-left">
                                        {{ _tab_menu|raw }}
                                    </div>
                                {% endif %}

                                {% if admin is defined and action is defined and action == 'list' and admin.listModes|length > 1 %}
                                    <div class="nav navbar-right btn-group" style="margin:0;">
                                        {% for mode, settings in admin.listModes %}
                                            <a href="{{ admin.generateUrl('list', app.request.query.all|merge({_list_mode: mode})) }}" class="btn btn-default navbar-btn btn-sm{% if admin.getListMode() == mode %} active{% endif %}">
                                                {# NEXT_MAJOR: Remove the if and keep the else part #}
                                                {% if settings.icon is not defined and settings.class is defined %}
                                                    {% deprecated 'Relying on the "class" setting is deprecated since sonata-project/admin-bundle 4.9, use the "icon" setting instead' %}
                                                    <i class="{{ settings.class }}" aria-hidden="true"></i>
                                                {% else %}
                                                    {{ settings.icon|default('')|parse_icon }}
                                                {% endif %}
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% block sonata_admin_content_actions_wrappers %}
                                    {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                                        {% if _actions|split('</a>')|length > 2 %}
                                            <ul class="nav navbar-nav navbar-left desktop-only">
                                                {{ _actions|replace({'<ul class="dropdown-menu show" role="menu">': '', '</ul>': '', 'dd-': ''})|raw }}
                                        {% else %}
                                            <ul class="nav navbar-nav navbar-left">
                                                {{ _actions|raw }}
                                        {% endif %}
                                        </ul>
                                    {% endif %}
                                {% endblock sonata_admin_content_actions_wrappers %}

                                {% if _list_filters_actions is not empty %}
                                    {{ _list_filters_actions|raw }}
                                {% endif %}
                            {# </div> #}
                        {# </div> #}
                    </nav>
                {% endif %}
            {% endblock sonata_page_content_nav %}
        {% endblock sonata_page_content_header %}
    </section>

    <section class="content">
        {% block sonata_admin_content %}

            {% block notice %}
                {% include '@SonataTwig/FlashMessage/render.html.twig' %}
            {% endblock notice %}

            {% if _preview is not empty %}
                <div class="sonata-ba-preview">{{ _preview|raw }}</div>
            {% endif %}

            {% if _content is not empty %}
                <div class="sonata-ba-content">{{ _content|raw }}</div>
            {% endif %}

            {% if _show is not empty %}
                <div class="sonata-ba-show">{{ _show|raw }}</div>
            {% endif %}

            {% if _form is not empty %}
                <div class="sonata-ba-form">{{ _form|raw }}</div>
            {% endif %}

            {% if _list_filters is not empty %}
                <div class="row">
                    {{ _list_filters|raw }}
                </div>
            {% endif %}

            {% if _list_table is not empty %}
                <div class="row">
                    {{ _list_table|raw }}
                </div>
            {% endif %}
        {% endblock sonata_admin_content %}
    </section>
{% endblock sonata_page_content %}